* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(images/img4.jpg);
  }
  
  nav {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 50px 0;
    text-align: center;
  }
  
  h1, h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .portfolio-items {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .portfolio-item {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .portfolio-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .portfolio-item p {
    margin-top: 10px;
    font-weight: bold;
  }
  

.contact-info {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 20px;
  }
  
  .contact-info p {
    font-size: 1.1em;
    display: flex;
    align-items: center;
  }
  
  .contact-info i {
    margin-right: 10px;
    font-size: 1.3em;
    color: #333;
  }

  
  .contact-info a {
    color:black;
    text-decoration: underline;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }  